

header {
    text-align: center;
}
.dontPrint {
   margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.submission {
    margin: auto;
    width: 40%;
    padding: 30px;
}

label {
    
    float: left;
    clear: left;
    width: 200px;
    text-align:right;
}

input {
    
    float: left;
}

table {
    table-layout: fixed;
}

td {
    max-width: 150px;
    word-wrap: break-word;
}

img {
    width: 100px;
    height: 100px;
}

.printThis {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@media print {
    table {
        table-layout: fixed;
    }
    td {
    max-width: 150px;
    word-wrap: break-word;
    }

    img {
    width: 150px;
    height: auto;
    }

}